.partners-list {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  gap: 24px;

  .partner {
    img {
      width: 5.75rem;
      height: 2rem;
    }
  }

  @media (max-width: 767px) {
    overflow-x: scroll;
  }

  @media (max-width: 490px) {
    .partner {
      img {
        width: 8.75rem;
        height: 3rem;
      }
    }
  }
}

.partner-list-modal {
  .components-modal__content {
    .spinner-container {
      padding: 1rem 0;
      text-align: center;
    }
  }

  .partner-list-modal-footer {
    position: sticky;
    bottom: 0;
    text-align: right;
  }
}