.custom-block-partners-list {
  .partners-list {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 24px;

    .partner {
      img {
        width: 5.75rem;
        height: 2rem;
      }
    }

    @media (max-width: 767px) {
      overflow-x: scroll;
    }

    @media (max-width: 490px) {
      .partner {
        img {
          width: 8.75rem;
          height: 3rem;
        }
      }
    }
  }
}